.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: inputAnimation 2s;
}

.form label {
  position: relative;
  top: 3vmax;
  transition: 0.3s ease-in;
  font-size: 1.5vmax;
  order: 1;
}

.form input {
  width: 40vw;
  border: none;
  border-bottom: var(--double-border);
  background-color: transparent;
  color: white;
  font-size: 2.5vmax;
  text-align: center;
  font-family: 'Krona One', sans-serif;
  order: 2;
}

.form input:focus {
  outline: none;
  border-color: var(--yellow);
}

.form:focus-within label,
.form input:valid ~ label {
  transform: scale(0.7);
  top: 0;
}

.form button {
  margin-top: 1.5rem;
  order: 3;
}

.buttonDiv {
  margin-top: 1.5rem;
  order: 3;
  height: 60px;
}

@media screen and (max-width: 800px) {
  .form input {
    width: 85vw;
  }
}

@keyframes inputAnimation {
  0% {
    transform: scale(0);
  }

  70% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
