.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -20px;
}

.container p {
  font-size: 1.3vmax;
}

.userAnswer {
  color: var(--red);
  border: 2px solid var(--light-blue);
}

.rightAnswer {
  color: var(--light-blue);
}

.rightAnswer::after {
  content: '  \2713';
}
