.container h1 {
  margin: 1vw;
  animation: scale 2s;
}

.container h1::before {
  content: 'QUIZZICA';
  animation: quizzica 2s;
}

.container h2 {
  margin: 1vw;
  animation: textAnimation 2s;
}

@keyframes textAnimation {
  0% {
    transform: scale(0);
  }

  70% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale {
  0% {
    transform: scale(0.5);
  }

  70% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes quizzica {
  0% {
    text-shadow: none;
    opacity: 0;
    content: 'QUIZ';
    text-shadow: none;
  }

  20% {
    text-shadow: none;
  }

  50% {
    opacity: 1;
    content: 'QUIZ';
    text-shadow: -9px 9px 0px var(--light-blue),
      -8.75px 8.75px 0px var(--light-blue), -8.5px 8.5px 0px var(--light-blue),
      -8.25px 8.25px 0px var(--light-blue), -7px 7px 0px var(--light-blue),
      -7.75px 7.75px 0px var(--light-blue), -7.5px 7.5px 0px var(--light-blue),
      -7.25px 7.25px 0px var(--light-blue), -7px 7px 0px var(--light-blue),
      -6.75px 6.75px 0px var(--light-blue), -6.5px 6.5px 0px var(--light-blue),
      -6.25px 6.25px 0px var(--light-blue), -6px 6px 0px var(--light-blue),
      -5.75px 5.75px 0px var(--light-blue), -5.5px 5.5px 0px var(--light-blue),
      -5.25px 5.25px 0px var(--light-blue), -5px 5px 0px var(--light-blue),
      -4.75px 4.75px 0px var(--light-blue), -4.5px 4.5px 0px var(--light-blue),
      -4.25px 4.25px 0px var(--light-blue), -4px 4px 0px var(--light-blue),
      -3.75px 3.75px 0px var(--light-blue), -3.5px 3.5px 0px var(--light-blue),
      -3.25px 3.25px 0px var(--light-blue), -3px 3px 0px var(--light-blue),
      -2.75px 2.75px 0px var(--light-blue), -2.5px 2.5px 0px var(--light-blue),
      -2.25px 2.25px 0px var(--light-blue), -2px 2px 0px var(--light-blue),
      -1.75px 1.75px 0px var(--light-blue), -1.5px 1.5px 0px var(--light-blue),
      -1.25px 1.25px 0px var(--light-blue), -1px 1px 0px var(--light-blue),
      -0.75px 0.75px 0px var(--light-blue), -0.5px 0.5px 0px var(--light-blue),
      -0.25px 0.25px 0px var(--light-blue);
  }
  55% {
    content: 'QUIZZ';
  }

  60% {
    content: 'QUIZZI';
  }

  65% {
    content: 'QUIZZIC';
  }

  70% {
    content: 'QUIZZICA';
  }
}
