.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  height: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container p {
  padding: 20px 30px;
  font-size: 2vmax;
  border: var(--double-border);
  cursor: pointer;
  transition: 0.3s ease-in;
}

.container p:hover {
  background-color: white;
  color: var(--light-blue);
}

@media screen and (max-width: 800px) {
  .content {
    height: 80vw;
    width: 75vw;
  }
}
