.container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.square {
  pointer-events: none;
  position: absolute;
  align-self: center;
  width: 75vw;
  height: 75vw;
  border: 4px double var(--light-blue);
  transform: rotate(45deg);
  animation: rotateSquare 2s;
}

.square2 {
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 45vw;
  height: 45vw;
  border: 4px double var(--light-blue);
  animation: rotateSquare2 2s;
}

.square3 {
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
  height: 75vw;
  border: 4px double var(--light-blue);
  transform: rotate(45deg);
  animation: rotateSquare3 2s;
}

@media screen and (max-width: 800px) {
  .square {
    width: 130vw;
    height: 130vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    animation: rotateSquareMobile 2s;
  }

  .square2 {
    position: fixed;
    width: 80vw;
    height: 130vw;
    min-height: 570px;
    top: 50%;
    left: 50%;
    margin-top: -65vw;
    margin-left: -40vw;
  }

  .square3 {
    position: fixed;
    width: 130vw;
    height: 130vw;
    top: 50%;
    left: 50%;
    margin-top: -65vw;
    margin-left: -65vw;
  }
}

@keyframes rotateSquare {
  0% {
    transform: rotate(0deg) scale(0.5);
  }

  50% {
    transform: rotate(0deg) scale(0.5);
  }

  75% {
    transform: rotate(45deg) scale(0.5);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}

@keyframes rotateSquareMobile {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(0.5);
  }

  50% {
    transform: translate(-50%, -50%) rotate(0deg) scale(0.5);
  }

  75% {
    transform: translate(-50%, -50%) rotate(45deg) scale(0.5);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}

@keyframes rotateSquare2 {
  0% {
    transform: rotate(45deg) scale(1.6);
  }

  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes rotateSquare3 {
  0% {
    transform: rotate(45deg) scale(3);
  }

  100% {
    transform: rotate(45deg) scale(1);
  }
}
